<div class="p-col-12">
    <div class="card">
        <div class="p-grid form-group">
            <div class="p-col-2">
                <label>&nbsp;</label>
                <button *ngIf="isAdd" (click)="createOrUpdateWard()" pButton type="button" label="TẠO MỚI" class="btn bg-primary color-black br-none">
                    <img src="../../../assets/layout/images/topbar/create_black.png" alt="">
                </button>
            </div>
            <div class="p-col-3 p-offset-2">
                <label class="label-test">Tỉnh thành</label>
                <p-dropdown  (onChange)="changeProvince()" [options]="province" [(ngModel)]="selectedProvince" class="dp dp-bg-white w-full dp-border" placeholder="Chọn tỉnh thành" optionLabel="label" opt filter="true"></p-dropdown>
            </div>
            <div class="p-col-3">
                <label class="label-test">Quận huyện</label>
                <p-dropdown  (onChange)="onChangeDistrict()" [options]="district" [(ngModel)]="selectedDistrict" class="dp dp-bg-white w-full dp-border" placeholder="Chọn quận huyện" optionLabel="label" opt filter="true"></p-dropdown>
            </div>
            <div class="p-col-2">
                <label>&nbsp;</label>
                <div class="p-inputgroup">
                    <div class="p-input-icon-left">
                       <i class="pi pi-search" style="cursor: pointer;"></i>
                       <input autocomplete="false" [(ngModel)]="filterViewModel.searchText" (keydown.enter)="onFilter()" pInputText class="input-icon search-input-wrapper" placeholder="Tìm kiếm..."/>
                    </div>
                    <button (click)="refresher()" pRipple type="button" class="btn bg-primary color-black br-none" style="width: 36px;margin-left: 20px;">
                        <i class="pi pi-refresh pi-spin " style="cursor: pointer;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="p-grid pt-15">
            <div class="p-col-12" *ngIf="true">
                <p-table #dt [value]="districts" dataKey="id" [scrollable]="true" [paginator]="true"
                    [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"  [loading]="roleLoading"
                    [totalRecords]="totalRecords" [lazy]="true" (onPage)="onPageChange($event)"
                    scrollHeight="400px" [rowsPerPageOptions]="[5,20,50,100]"
                    currentPageReportTemplate="Từ {first} đến {last} của {totalRecords} mục" >
                    <ng-template pTemplate="header"> 
                        <tr>
                            <th width="140px">TÁC VỤ</th>
                            <th width="100px" pSortableColumn="code">MÃ </th>
                            <th width="200px" pSortableColumn="name">TÊN </th>
                            <th width="200px" pSortableColumn="districtName">Quận huyện </th>
                            <th width="200px" pSortableColumn="districtName">Tỉnh thành </th>
                            <th width="70px" pSortableColumn="isRemote">Vùng xa </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-i="rowIndex">
                        <tr>
                            <td width="140px">
                                <button (click)="createOrUpdateWard(item)" type="button" class="btn-icon bg-primary">
                                    <img src="../../../assets/layout/images/icon/view.png" alt="">
                                </button>
                                <button *ngIf="isDelete" (click)="dialogDelete = true; selectedData = item" type="button" class="btn-icon bg-red">
                                    <img src="../../../assets/layout/images/icon/delete.png" alt="">
                                </button>
                            </td>
                            <td width="100px">{{item.code}}</td>
                            <td width="200px">{{item.name}}</td>
                            <td width="200px">{{item.districtName}}</td>
                            <td width="200px">{{item.provinceName}}</td>
                            <td width="70px"><p-checkbox [(ngModel)]="item.isRemote" [binary]="true" [disabled]="true"></p-checkbox></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="p-col-12" *ngIf="false">
                <div class="position-relative" style="text-align: center;margin-top: 15px;">
                    <img src="assets/layout/images/dashboard/not-result.png" alt="mirage-layout" />
                    <p class="m-0 color-black font-18 fw-500">KHÔNG TÌM THẤY VẬN ĐƠN NÀO TRONG KHOẢNG THỜI GIAN NÀY</p>
                    <p class="m-0 color-grey font-14 fw-500">Bạn hãy chọn khoảng thời gian khác để tiếp tục tìm kiếm nhé!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End modal thông tin yêu cầu -->

<!-- Start modal xóa -->
<p-dialog class="waiting" [(visible)]="dialogDelete" [modal]="true" [style]="{'max-width': '400px'}" [baseZIndex]="10000"
    showEffect="fade" [draggable]="false" [resizable]="false">
    <div class="p-col-12 wp-title">
        <img src="../../../assets/layout/images/icon/delete-wp.png" alt="">
        <h1 class="fs-16 color-black m-0">Bạn có chắc muốn xoá dữ liệu này??</h1>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" style="width: 122px;" pButton (click)="dialogDelete=false" label="Hủy"
            class="btn bg-white color-black border-black"></button>
        <button (click)="deleteWard()" type="button" style="width: 122px;" class="btn bg-primary color-black mr-5" pButton label="Xác nhận"></button>
    </ng-template>
</p-dialog>
<!-- End modal xóa -->