<section>
    <div class="p-grid form-group">
        <div class="p-md-4 p-col-12">
            <label class="label-test">Mã (<b class="color-red">*</b>)</label>
            <input [(ngModel)]="servive.code" pInputText class="input search-input-wrapper" placeholder="Nhập mã..."/>
        </div>
        <div class="p-md-4 p-col-12">
            <label class="label-test">Tên (<b class="color-red">*</b>)</label>
            <input [(ngModel)]="servive.name" pInputText class="input search-input-wrapper" placeholder="Nhập tên..."/>
        </div>
        <div class="p-md-4 p-col-12">
            <label class="label-test">Dịch vụ gia tăng</label>
            <div class="mt-5" style="height: 34px;">
                <p-checkbox [binary]="true" [(ngModel)]="servive.isPublish"></p-checkbox>
            </div>
        </div>
    </div>
    <div class="p-grid form-group">
        <div class="p-md-12 p-col-12 text-center mt-15">
            <button *ngIf="isEdit && edit" (click)="onClickSave()" pButton type="button" label="LƯU" class="btn bg-primary color-black mr-5" style="width: 100px;"></button>
            <button *ngIf="isAdd && !edit" (click)="onClickSave()" pButton type="button" label="TẠO MỚI" class="btn bg-primary color-black mr-5" style="width: 100px;"></button>
            <button (click)="onClickCancel(false)" pButton type="button" label="HUỶ BỎ" class="btn bg-white color-black border-black" style="width: 100px;"></button>
        </div>
    </div>
</section>